<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Evan D'Elia</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />

        <meta property="og:title" content="" />
        <meta property="og:site_name" content="" />
        <meta property="og:url" content="https://evandelia.com/" />
        <meta property="og:image" content="https://evandelia.com/" />
        <meta property="og:type" content="article" />
        <meta property="og:description" content=""/>

        <meta name="twitter:title" content="Blackbird Blackbird">
        <meta name="twitter:description" content="" />

        <meta property="description" content="" />

        <!-- <link rel="stylesheet" href="styles.css" /> -->
        <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-core"></script>
        
        <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-converter"></script>
        <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/facemesh"></script>
        <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-backend-webgl"></script>
        <script src="https://unpkg.com/wavesurfer.js"></script>

        <!-- wasm backend no longer works as of tfjs 2.0.0 -->
        <!-- <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-backend-wasm"></script> --> 
        <!-- <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-backend-wasm/dist/tf-backend-wasm.js"></script> -->
    </head>
    <body>
        <div id="overlay">
          <div>
            <button id="startButton">Loading...</button>
            <p>Audio playback requires user interaction.</p>
          </div>
        </div>
        <div id="progress"></div>
        <div id="controls_container">
            <div class=left>
            <div id="info"></div>
            <div id="controls_inner">
                    <svg id="play" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32" viewBox="0 0 32 32">
                      <image id="normal" data-name="play" width="32" height="32" xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAw1BMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////8AAADBOguNAAAAP3RSTlMAihPshxv78Yki+pX9mieXLqI0rT6xPbNBuU3EUs1ZyVzRXwONn/CBEoQW7oXtfheA6X8U6hHr6H18DuR33wwJaznhAAAAAWJLR0QAiAUdSAAAAAlwSFlzAAALEgAACxIB0t1+/AAAALVJREFUOMuF09cSgkAMBdAIVuy9994QEQTr/f+/Et+ccbi5rzkzm012JWEID8xkioI0kMnmCLAQxcrnOAAKxRIHESlXOIhSrSkAqDcUADRbCgDaHQUA3Z4CgP5AAcBwpABgPFEAMJ3NOQDMhQKwpGC13rAjzO2ONbk/GOyaR/vEBrVyDDbqs3thy/K+nceDo+2zB3N1/sq/IAg3IvHAu/ki8cAM7+zjBI4vsQEeT1IWeblvVpYPubF6E6wpNSIAAAAASUVORK5CYII="/>
                      <image id="hover" data-name="play" width="32" height="32" xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAulBMVEUAAAD4iML6ptH2Xqz4isP6o9D2W6v4iML6oc/4hcD4g7/6oc/4hMD6oM74gL75ns33fLz5ncz3e7v5ncz3ebr5m8z3d7n5mcv3c7f5mMr3brX5l8n3cbb5lsn3bLT5lcn6qNL4iML4gb74jMT6ptH4isP6pND2Xaz4isP4jMT6pdH4jMT2YK34jMT6pND2X636ptH2Xqz4jMT4jcT6pdH2Yq74jsX2ZbD6pdH1Uqb1Vaf1Vaj1U6cAAACtq5kuAAAAOXRSTlMAySX+xzP+yD/T10jVVN1d5W3na+hx7IPxivWT9Jf3mwbM28EjxCr+xb4swP2/Jv0h/b28G/y2+xcdQ4ArAAAAAWJLR0QAiAUdSAAAAAlwSFlzAAALEgAACxIB0t1+/AAAALRJREFUOMuF08cSwjAMBFARQ+i99xZqAoRQl/D/30W4McN4tVe9GcuSLSlHeGDSGQpegJvNERAjSZzPcQC8C0UOElIqc5CkUlUAUKsrAGg0FQC02goAOl0FAL2+AoDBUAHAaKwAYDKdcQCYuQKwoMBdeuwIs1qzJjdbh13T7PZsUK7vsFEHhyNb1unbuR2YXcgezNn/K/+CIPJE7OB0CUXswERX9nECPxRrgNudlEUehycrywctEHPa1bg5KQAAAABJRU5ErkJggg=="/>
                    </svg>
                    <svg id="pause" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32" viewBox="0 0 32 32">
                      <image id="normal" data-name="pause" width="32" height="32" xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgBAMAAACBVGfHAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAIVBMVEUAAAD///////////////////////////////////8AAADPn83rAAAACXRSTlMAy/L1thPWwBRnGSzuAAAAAWJLR0QAiAUdSAAAAAlwSFlzAAALEgAACxIB0t1+/AAAAClJREFUKM9jkFRSUrJ0ZQCCkMlA5kSGzJlAUAESaAexpo0KjCQB9OQAANH40OuL9657AAAAAElFTkSuQmCC"/>
                      <image id="hover" data-name="pause" width="32" height="32" xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgBAMAAACBVGfHAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAIVBMVEUAAAD3b7X1Wqr3ebr6ptH2arL3dLf6pND1Uqb1WakAAABX6OE4AAAACHRSTlMA9P7qJfjvJk36/MYAAAABYktHRACIBR1IAAAACXBIWXMAAAsSAAALEgHS3X78AAAAKElEQVQoz2OQUFJSmmHCAATOnUBmI0NEBxCkgwTKQKzWUYGRJICeHAC2AblHU6s1MQAAAABJRU5ErkJggg=="/>
                    </svg>
            </div>
            </div>
        </div>
    </body>
</html>
